<% include partials/header %>

<div class="container">
    <br />
    <h1>Adminseite</h1>
    <br />
    <br />

    <div class="row">
        <div class="col-4 pb-3">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteItAll">
                Datenbank löschen
            </button>
        </div>
        <div class="col-4 pb-3">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#upload">
                Schülerliste hochladen
            </button>
        </div>
        <div class="col-4 pb-3">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addStation">
                Station hinzufügen
            </button>
        </div>
        <div class="col-4 pb-3">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteStation">
                eine Station löschen
            </button>
        </div>
        <div class="col-4 pb-3">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editStation">
                eine Station editieren
            </button>
        </div>
        <% if(!liveMode) { %>
            <div class="col-4 pb-3">
                <a href="/api/admin/live-mode" class="btn btn-primary" >
                    Live-Modus aktivieren
                </a>
            </div>
        <% } %>
        <div class="col-4 pb-3">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#resetpw">
                Adminpasswort neu setzen
            </button>
        </div>
    </div>

    <!-- db wipe modal -->
    <div class="modal fade" id="deleteItAll" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Sind sie sicher?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Wenn sie auf "Bestätigen" drücken, werden all Schüler und Stationen gelöscht</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="/api/admin/cleardb">Bestätigen</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- reset pw modal -->
    <div class="modal fade" id="resetpw" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Sind sie sicher?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Wenn sie auf "Bestätigen" drücken, werden sie zur Registerseite weitergeleitet, um ein neues Password einzugeben.</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="/api/admin/reset_pw">Bestätigen</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                </div>
            </div>
        </div>
    </div>

    <!-- upload modal -->
    <div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Schülerliste hochladen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/api/admin/upload" method="post" enctype="multipart/form-data">
                        <input type="file" name="csv" />
                        <button class="btn btn-primary">Bestätigen</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                </div>
            </div>
        </div>
    </div>

    <!-- create station modal -->
    <div class="modal fade" id="addStation" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Station hinzufügen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/api/station/">
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" placeholder="Name der Station" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="room" type="text" placeholder="Raum"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="teacher" type="text" placeholder="leitender Lehrer"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="desc" type="text" placeholder="Beschreibung der Station"/>
                        </div>
                        <div class="form-group">
                            <label for="">Dauert 80 Minuten
                                <input type="checkbox" name="is80minutes" />
                            </label>
                        </div>
                        <button class="btn btn-success">Hinzufügen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

        <!-- delete single station modal -->
        <div class="modal fade" id="deleteStation" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Sind sie sicher?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <% stations.forEach(station => { %>
                            <div style="margin-bottom: 0.2em;">
                                <span><%= station.name %></span>
                                <a class="btn btn-danger" href="/api/station/delete/<%= station._id %>">Löschen</a>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>

        <!-- edit station -->
        <div class="modal fade" id="editStation" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Welche Station möchten sie ändern?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <% stations.forEach(station => { %>
                            <div style="margin-bottom: 0.2em;">
                                <span><%= station.name %></span>
                                <a class="btn btn-primary" href="/station/<%= station._id %>/edit">Editiern</a>
                            </div>
                        <% }) %>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger" href="/api/admin/cleardb">Bestätigen</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>
