<% include partials/header %>
<br />

<div class="container">
    <h1>Station <%= station.name %> ändern</h1>
    <form method="POST" action="/api/station/edit/<%= station._id %>">
        <div class="form-group">
            <input class="form-control" type="text" name="name" value="<%= station.name %>" placeholder="Name der Station" />
        </div>
        <div class="form-group">
            <input class="form-control" name="room" type="text" value="<%= station.room %>" placeholder="Raum"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="teacher" type="text" value="<%= station.teacher %>" placeholder="leitender Lehrer"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="desc" type="text" value="<%= station.description %>" placeholder="Beschreibung der Station"/>
        </div>
        <div class="form-group">
            <label for="">Dauert 80 Minuten
                <input type="checkbox" name="is80minutes" value="<%= station.is80Minutes%>" />
            </label>
        </div>
        <button class="btn btn-success">Ändern</button>
    </form>
</div>
<% include partials/footer %>
