<% include partials/header %>
<div class="container">
    <br />
    <br />
    <div class="row">
        <% for(station of stations) {%>
            <% if(!station.name) { %>
                <% continue %>
            <% } %>
            <div class="col-md-4 col-sm-6 col-12" style="padding-bottom: 2rem;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%= station.name %></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%= station.teacher %></h6>
                        <p class="card-text"><%= station.description %></p>
                        <a href="/station/<%= station._id %>" class="btn btn-primary card-link">Erfahre Mehr</a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
<% include partials/footer %>
