<% include partials/header %>
<div class="container">
    <h1>Login</h1>
    <form method="POST" action="/api/admin/login">
        <input type="text" name="username" value="admin" hidden />
        <div class="form-group">
            <label for="">Passwort:</label>
            <input class="form-control" type="password" name="password" value="" />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
<% include partials/footer %>
