<% include partials/header %>
<div class="container">
    <h1>Adminaccount registrieren</h1>
    <form method="POST" action="/api/admin/register">
        <input type="text" name="username" value="admin" hidden/>
        <div class="form-group">
            <label>Passwort:</label>
            <input class="form-control" type="password" name="password" value="" />
        </div>
        <button type="submit" class="btn btn-primary">Registrieren</button>
    </form>
</div>
<% include partials/footer %>
