<% include partials/header %>
    <div class="container">
    <h1><%= station.name %></h1>
    <p><strong>Lehrer:</strong> <%= station.teacher %></p>
    <p><strong>Raum:</strong> <%= station.room %></p>
    <p><strong>Beschreibung:</strong> <%= station.description %></p>
    <p><strong>Dauer:</strong> <% if(station.is80Minutes) { %>
                                   80 Minuten
                               <% } else { %>
                                   40 Minuten
                               <% } %> </p>

    <p><strong>Schon registrierte Schüler: </strong></p>
    <ul>

        <% station.students.forEach((registeredUser) => { %>
            <li><%= registeredUser.class + ' - ' + registeredUser.firstName + ' ' + registeredUser.lastName %></li>
        <% }) %>
    </ul>
    <% if(!liveMode) { %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
            Bei Station Anmelden
        </button>

        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Anmelden für <%= station.name %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/api/station/<%= station._id %>" method="POST">
                            <div class="form-group">
                                <label for="">Auswählen: </label>
                                <select name="schueler" id="">
                                    <option selected>Schüler</option>
                                    <% allUsers.forEach((user) => { %>
                                    <option value="<%= user._id %>"><%= user.firstName + ' ' + user.lastName + ', ' + user.class %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary" type="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    </div>
    <% include partials/footer %>
